<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cream1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>cream2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,80},{68,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>cream3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{68,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>cream4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,78},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>cream5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,146},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jelly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>jelly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>newPortal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,280},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,214},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,214},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,148},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>newPortal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CandyBarrierBottom.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bec74d72338b018845e0346d9da208f$</string>
            <key>textureFileName</key>
            <string>CandyBarrierBottom.png</string>
        </dict>
    </dict>
</plist>
