<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PortalEntrance1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,276},{62,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,36}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,276},{62,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,156},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,116},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,236},{62,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{62,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalEntrance9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,236},{62,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{62,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,196},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,76},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,76},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,196},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>PortalExit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,156},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>chocolate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{24,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chocolate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,76},{36,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{36,32}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chocolate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,222},{46,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{46,42}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chocolate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,172},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{50,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chocolate5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,116},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chocolate6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chocolate7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>dropIngredientFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CandyBarrierTop.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba2758f4dbc3918fe9b1c02495c48c64$</string>
            <key>textureFileName</key>
            <string>CandyBarrierTop.png</string>
        </dict>
    </dict>
</plist>
