<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MiniUI/prop35.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop35P.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/qipao.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NewUi2/PropBuy.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>NewUi2/PropNumBg.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop34.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop34P.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop38.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop38P.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop37.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>765</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop37P.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>862</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop36.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/prop36P.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>imgBar1.png</key>
			<dict>
				<key>width</key>
				<integer>720</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>SettingBtnN.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>916</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>SettingBtnP.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/BtnShopN.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/BtnShopP.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TargetLabel.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TargetItem/CollectType0.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TargetItem/GameUiJelly.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TargetItem/GameUiChesnut.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TargetItem/GameUiCherry.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreProgressBg.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>262</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreProgress.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>245</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreRedStar.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreGrayStar.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreYelloStar.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreBlueStar.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>imgBar2.png</key>
			<dict>
				<key>width</key>
				<integer>720</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MiniUI/sprite9bg.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>MoveLabel.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>809</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>TimeLabel.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>899</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ScoreLabel.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>CandyGameUi0.png</string>
			<key>realTextureFileName</key>
			<string>CandyGameUi0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>